body.my-style{
  background: rgba(128, 128, 128, 0.17);
}
header{
  padding-left: 10px;
}
.post-section{
  .fieldset-container{
    padding-top: 15px;
    //background-color: rgb(225, 232, 237);
    background: #356384;
    #video-url,
    #message {
      margin-left: 5px;
      width: 300px;
      width: 100%;
    }
  }
}